@model NajmetAlraqee.Site.ViewModels.HospitalViewModel
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "Delete Hospital";
}


<div class="block-header">
    @*<h2>Delete Hospital</h2>*@
    <ol class="breadcrumb breadcrumb-col-cyan">
        <li><a href=@Url.Action("index","Hospitals")><i class="material-icons">home</i> @SharedLocalizer.GetLocalizedHtmlString("Hospitals")</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("DeleteHospital")</a></li>
    </ol>
</div>

<div>
    <center>
        <h3> @SharedLocalizer.GetLocalizedHtmlString("DeleteHospitalMSG")  @Model.EnglishName ?</h3>
        <br />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Delete")" class="btn  btn-raised btn-danger waves-effect" />
            <a asp-action="Index" class="btn btn-raised">@SharedLocalizer.GetLocalizedHtmlString("Back")</a>
        </form>
    </center>


</div>