@model NajmetAlraqee.Site.ViewModels.SnadReceiptViewModel
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("SnadReceipt");
}




<div class="container-fluid">
    <div class="block-header">
        @*<h2>Add Doctor</h2>*@
        <ol class="breadcrumb breadcrumb-col-cyan">
            <li><a href=@Url.Action("index","SnadReceipt")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("SnadReceiptOffices")</a></li>
            <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("AddSnadReceipt")</a></li>
        </ol>
    </div>


    <div class="row clearfix">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form asp-action="Add" method="post" enctype="multipart/form-data">

                <div class="card">
                    <div class="header">
                        <h2 style="font-family:Droid Arabic Kufi">@SharedLocalizer.GetLocalizedHtmlString("SnadReceipt")</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right"></ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">

                        <div class="row">
                            <div class="col-sm-2 col-xs-12"></div>
                            <div class="col-sm-8 col-xs-12">
                                <div asp-validation-summary="All" style="font-family:Droid Arabic Kufi" class="text-danger"></div>
                                @Html.HiddenFor(x => x.Id)
                            </div>
                            <div class="col-sm-2 col-xs-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("SnadReceiptType") </label>
                                    <div class="form-line">
                                        <select asp-for="@Model.SnadReceiptTypeId" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.SnadReceiptTypeId"><option>@SharedLocalizer.GetLocalizedHtmlString("SnadReceiptType")</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("SnadReceiptCaluse") </label>
                                    <div class="form-line">
                                        <select asp-for="@Model.ExpenseId" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.ExpenseId"><option>@SharedLocalizer.GetLocalizedHtmlString("SnadReceiptCaluse")</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("PaymentMethod") </label>
                                    <div class="form-line">
                                        <select asp-for="@Model.PaymentMethodId" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.PaymentMethodId"><option>@SharedLocalizer.GetLocalizedHtmlString("PaymentMethod")</option></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Amount") </label>
                                    <div class="form-line">
                                        <input asp-for="Amount" class="form-control" onkeyup="CalVAT()" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Amount")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("VAT") </label>
                                    <div class="form-line">
                                        <input asp-for="VAT" readonly="readonly" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("VAT")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("SnadDate") </label>
                                    <div class="form-line">
                                        <input asp-for="SnadDate" value="@Model.SnadDate" readonly="readonly" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("SnadDate")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Note") </label>
                                    <div class="form-line">
                                        <input asp-for="Note" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Note")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" value="Add" style="font-family:Droid Arabic Kufi;right:950Px" class="btn btn-raised g-bg-cyan pull-left">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
                            <a asp-action="Index" class="btn btn-raised" style="font-family:Droid Arabic Kufi;right:950Px">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>
@section Scripts {
    <script src='~/js/jquery-customselect.js'></script>
    <script>
        function CalVAT() {
            var x = document.getElementById("Amount");
            var y = document.getElementById("VAT");
            var z = document.getElementById("SnadReceiptTypeId");
            if (z.value == 1) {
                y.value = x.value * (0.05);
            }
            else { y.value = 0.0; }

        }
        function getDate() {
            var today = new Date();
            document.getElementById("SnadDate").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        }
    </script>

}
