@model NajmetAlraqee.Data.Entities.ApplicationRole
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Roles");
}

<div class="block-header">
    <ol class="breadcrumb breadcrumb-col-cyan">
        <li><a href=@Url.Action("index","Home")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("Home")</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">library_books</i> @SharedLocalizer.GetLocalizedHtmlString("Roles")</a></li>
    </ol>
</div>


<div class="container-fluid">

    <div class="row clearfix">
        <div class="col-md-12 col-xs-12">
            <div class="card patients-list">
                <div class="body">
                    <h2 class="card-inside-title">@SharedLocalizer.GetLocalizedHtmlString("AddRole")</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <form asp-action="AddEditApplicationRole" asp-controller="ApplicationRoles">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <div class="form-line">
                                        <input asp-for="Name" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("RoleName")" />
                                    </div>
                                </div>
                                <center>
                                    <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Add")" style="font-family:'Simplified Arabic'" class="btn btn-raised btn-success btn-sm" />
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 col-xs-12">
            <div class="card patients-list">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Roles"))
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Roles)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-raised btn-danger btn-sm">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
