@model NajmetAlraqee.Site.ViewModels.AccountTreeViewModel
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("AddAccountTree");
}




<div class="container-fluid">
    <div class="block-header">
        @*<h2>Add Doctor</h2>*@
        <ol class="breadcrumb breadcrumb-col-cyan">
            <li><a href=@Url.Action("index","AccountTree")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("AccountTrees")</a></li>
            <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("AddAccountTree")</a></li>
        </ol>
    </div>


    <div class="row clearfix">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form asp-action="AddPost" method="post" enctype="multipart/form-data">

                <div class="card">
                    <div class="header">
                        <h2 style="font-family:Droid Arabic Kufi">@SharedLocalizer.GetLocalizedHtmlString("AddAccountTree")</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right"></ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">

                        <div class="row">
                            <div class="col-sm-2 col-xs-12"></div>
                            <div class="col-sm-8 col-xs-12">
                                <div asp-validation-summary="All" style="font-family:Droid Arabic Kufi" class="text-danger"></div>
                                @Html.HiddenFor(x => x.Id)
                                @Html.HiddenFor(x => x.ParentId)
                                @Html.HiddenFor(x => x.AccountLevel)
                                @Html.HiddenFor(x => x.Accprev)
                            </div>
                            <div class="col-sm-2 col-xs-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Name") </label>
                                    <div class="form-line">
                                        <input asp-for="AccountNo" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("AccountNo")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("DescriptionAr") </label>
                                    <div class="form-line">
                                        @*<select asp-for="DescriptionAr" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.NationalityId"><option>@SharedLocalizer.GetLocalizedHtmlString("Nationality")</option></select>*@
                                        <input asp-for="DescriptionAr" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("DescriptionAr")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("DescriptionEn") </label>
                                    <div class="form-line">
                                        <input asp-for="DescriptionEn" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("DescriptionEn")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("AccountType") </label>
                                    <div class="form-line">
                                        <select asp-for="AccTypeId" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.AccTypeId"><option>@SharedLocalizer.GetLocalizedHtmlString("AccountType")</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("AccountClassification") </label>
                                    <div class="form-line">
                                        <select asp-for="AccClassificationId" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.AccClassificationId"><option>@SharedLocalizer.GetLocalizedHtmlString("AccountClassification")</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Accprev") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.Accprev" readonly="readonly" class="form-control" style="font-family:Droid Arabic Kufi" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Balance") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.Balance" type="text" class="form-control" style="font-family:Droid Arabic Kufi" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Credit") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.Credit" type="text" class="form-control" style="font-family:Droid Arabic Kufi" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Debit") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.Debit" type="text" class="form-control" style="font-family:Droid Arabic Kufi" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("PriceInExhibtion") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.PriceInExhibtion" type="text" class="form-control" style="font-family:Droid Arabic Kufi" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("HighLimitForBalance") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.HighLimitForBalance" type="text" class="form-control" style="font-family:Droid Arabic Kufi" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("EhalkPrecent") </label>
                                    <div class="form-line">
                                        <input asp-for="EhalkPrecent" type="text" class="form-control" style="font-family:Droid Arabic Kufi" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("FixedAssetDate") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.FixedAssetDate" type="date" class="form-control" style="font-family:Droid Arabic Kufi" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("JE") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.JE" type="text" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("JE")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("CostCenter") </label>
                                    <div class="form-line">
                                        <input asp-for="@Model.CostCenter" type="text" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("CostCenter")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" value="Add" style="font-family:Droid Arabic Kufi;right:950Px" class="btn btn-raised g-bg-cyan pull-left">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
                            <a asp-action="Index" class="btn btn-raised" style="font-family:Droid Arabic Kufi;right:950Px">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

