
@model PaginatedList<NajmetAlraqee.Data.Entities.Customer>
@using NajmetAlraqee.Site.Services;
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Customers");
}

<div class="block-header">
    <ol class="breadcrumb breadcrumb-col-cyan">
        <li><a href=@Url.Action("index","Home")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("Home") </a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">library_books</i> @SharedLocalizer.GetLocalizedHtmlString("Customers")</a></li>
    </ol>
    @*<div>
            <a class="btn btn-round pull-right bg-cyan waves-effect" asp-action="Add">@SharedLocalizer.GetLocalizedHtmlString("AddCountry")</a>
        </div>*@
</div>

<div class="col-md-12">
    <div class="card">
        <div class="body">
            <form asp-action="Index">
                <div class="form-group m-t-0">
                    <div class="form-line">
                        <input class="form-control" id="SearchString" name="SearchString" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Search")..." type="text">
                    </div>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-raised btn-sm btn-success m-b-0 m-t-0" style="font-family:Droid Arabic Kufi;right:1080px" type="submit">@SharedLocalizer.GetLocalizedHtmlString("Search")</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">

    <div>
        <a class="btn btn-raised btn-sm btn-success" style="right:1080Px" asp-action="Add">@SharedLocalizer.GetLocalizedHtmlString("AddCustomer")</a>
    </div>


    <div class="row clearfix">
        <div class="col-md-12 col-xs-12">
            <div class="card patients-list">
                <div class="body">
                    <h2 class="card-inside-title" style="font-family:Droid Arabic Kufi">@SharedLocalizer.GetLocalizedHtmlString("Customers")</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Customer"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("IdentityNo"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Address"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("CustomerType"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("IsActive"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Delegate"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("FirstPhone"))
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Customers != null)
                                {
                                    @foreach (var item in ViewBag.Customers)
                                    {
                                        <tr>
                                            <td>
                                                @item.FirstName  @item.LastName
                                            </td>
                                            <td>
                                                @item.IdentityNo
                                            </td>
                                            <td>
                                                @item.Address
                                            </td>
                                            <td>
                                                @item.CustomerType.Name
                                            </td>
                                            <td>
                                                @if (item.IsActive)
                                                {<span class="label label-success">@SharedLocalizer.GetLocalizedHtmlString("Active")</span> }
                                            else
                                            {<span class="label label-warning">@SharedLocalizer.GetLocalizedHtmlString("InActive")</span>}
                                            </td>
                                            <td>
                                                @item.UserDelegate.Name
                                            </td>
                                            <td>
                                                @item.FirstPhone
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-raised btn-secondary btn-sm">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-raised btn-danger btn-sm">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a> |
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-raised btn-info btn-sm">@SharedLocalizer.GetLocalizedHtmlString("Details")</a> |
                                                @if (item.IsActive)
                                                {
                                                    <a asp-action="DisActivated" asp-route-id="@item.Id" title="@SharedLocalizer.GetLocalizedHtmlString("DisActivated")" class="btn btn-raised btn-danger btn-sm zmdi zmdi-power"></a>
                                                }
                                                else
                                                {
                                                    <a asp-action="Activated" asp-route-id="@item.Id" title="@SharedLocalizer.GetLocalizedHtmlString("Activated")" class="btn btn-raised btn-success btn-sm zmdi zmdi-power"></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    @SharedLocalizer.GetLocalizedHtmlString("Previous")
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    @SharedLocalizer.GetLocalizedHtmlString("Next")
</a>


