@model NajmetAlraqeeSite.ViewModels.AdminDashBoardViewModels
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Dashboard");
}


<div class="block-header">
    <ol class="breadcrumb">
        <li><a href="index.html">@SharedLocalizer.GetLocalizedHtmlString("Home")</a></li>
        <li class="active">@SharedLocalizer.GetLocalizedHtmlString("Dashboard")</li>
    </ol>
</div>

<div class="row clearfix">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-cyan">
                        <i class="zmdi zmdi-hospital zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("Hospitals")</span>
                        <span class="value">@Model.Hospitals</span>
                    </div>
                </div>
                <p class="media-footer text-success">
                    <i class="zmdi zmdi-caret-down"></i> 
                    <span></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-blue">
                        <i class="zmdi zmdi-local-hospital zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("HospitalTypes")</span>
                        <span class="value">  @Model.HospitalTypes</span>
                    </div>
                </div>
                <p class="media-footer text-success">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-blush2">
                        <i class="zmdi zmdi-accounts-list zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("Specialties")</span>
                        <span class="value">  @Model.Specialties</span>
                    </div>
                </div>
                <p class="media-footer text-danger">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-green">
                        <i class="zmdi zmdi-accounts zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("Doctors")</span>
                        <span class="value">@Model.Doctors</span>
                    </div>
                </div>
                <p class="media-footer text-success">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    @*<div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card widget-stat">
                <div class="body">
                    <div class="media">
                        <div class="media-icon g-bg-purple">
                            <i class="zmdi zmdi-globe-alt zmdi-hc-2x"></i>
                        </div>
                        <div class="media-text">
                            <span class="title">Doctor Languages</span>
                            <span class="value">@Model.DoctorLanguages</span>
                        </div>
                    </div>
                    <p class="media-footer text-success">
                        <i class="zmdi zmdi-caret-up"></i> 13%
                        <span>Compared to last week</span>
                    </p>
                </div>
            </div>
        </div>*@
    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-blue">
                        <i class="zmdi zmdi-account-o zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("Patients")</span>
                        <span class="value">@Model.Patients</span>
                    </div>
                </div>
                <p class="media-footer text-success">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-green">
                        <i class="zmdi zmdi-time zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("PatientAppointments")</span>
                        <span class="value">@Model.PatientAppointments</span>
                    </div>
                </div>
                <p class="media-footer text-danger">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-green">
                        <i class="zmdi zmdi-time zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("ConfirmAppointment")</span>
                        <span class="value">@Model.ConfirmAppointment</span>
                    </div>
                </div>
                <p class="media-footer text-danger">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-blush2">
                        <i class="zmdi zmdi-delete zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("CanceledAppointment")</span>
                        <span class="value">@Model.CanceledAppointment</span>
                    </div>
                </div>
                <p class="media-footer text-danger">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 ">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-cyan">
                        <i class="zmdi zmdi-globe zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("Countries")</span>
                        <span class="value">@Model.Countries</span>
                    </div>
                </div>
                <p class="media-footer text-success">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card widget-stat">
            <div class="body">
                <div class="media">
                    <div class="media-icon g-bg-purple">
                        <i class="zmdi zmdi-city zmdi-hc-2x"></i>
                    </div>
                    <div class="media-text" style="margin-right:8px">
                        <span class="title">@SharedLocalizer.GetLocalizedHtmlString("Cities")</span>
                        <span class="value">@Model.Cities</span>
                    </div>
                </div>
                <p class="media-footer text-success">
                    <i class="zmdi zmdi-caret-down"></i>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">

</div>





