@model NajmetAlraqee.Site.ViewModels.DoctorViewModel
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = "Details";
}

<div class="block-header">
    @*<h2>Doctor Details </h2>*@
    <ol class="breadcrumb breadcrumb-col-cyan">
        <li><a href=@Url.Action("index", "Doctors")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("Doctors")</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("DoctorDetails")</a></li>
    </ol>
</div>



<div class="container-fluid">
    <div class="row clearfix">

        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card xl-blue text-center">
                <img src="~/Uploads/@Model.ImagePath" style="height:40%;width:50%" class="" alt="profile-image">
            </div>
            <div class="card xl-parpl">
                <div class="header xl-parpl">
                    <h2>@SharedLocalizer.GetLocalizedHtmlString("General")</h2>
                </div>
                <div class="body">
                    <div class="profile-info">
                        <ul class="list-unstyled">
                            <li>
                                <i class="zmdi zmdi-label"></i>
                                <div class="p-i-list">
                                    <span class="text-muted">@SharedLocalizer.GetLocalizedHtmlString("Position")</span>
                                </div>
                            </li>
                            <li>
                                <i class="zmdi zmdi-hospital"></i>
                                <div class="p-i-list">
                                    <span class="text-muted">@SharedLocalizer.GetLocalizedHtmlString("Hospital")</span>
                                    @Model.HospitalName
                                </div>
                            </li>
                            <li>
                                <i class="zmdi zmdi-smartphone"></i>
                                <div class="p-i-list">
                                    <span class="text-muted">@SharedLocalizer.GetLocalizedHtmlString("Mobile")</span>
                                    @Model.MobileNo
                                </div>
                            </li>
                            <li>
                                <i class="zmdi zmdi-phone"></i>
                                <div class="p-i-list">
                                    <span class="text-muted">@SharedLocalizer.GetLocalizedHtmlString("Phone")</span>
                                    @Model.PhoneNo
                                </div>
                            </li>
                            <li>
                                <i class="zmdi zmdi-email"></i>
                                <div class="p-i-list">
                                    <span class="text-muted">E-mail</span>
                                    @Model.UserName
                                </div>
                            </li>
                            <li>
                                <i class="zmdi zmdi-male"></i>
                                <div class="p-i-list">
                                    <span class="text-muted">@SharedLocalizer.GetLocalizedHtmlString("Nationality")</span>
                                    @Model.NationalityName
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="card xl-parpl">
                <div class="header xl-parpl">
                    <h2>@SharedLocalizer.GetLocalizedHtmlString("AboutMe")</h2>
                </div>
                <div class="body">
                    <blockquote>
                        <p>@Model.EnglishBio</p>
                    </blockquote>
                </div>
            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            @if (User.IsInRole("Doctor"))
            {
                <a asp-action="Edit" asp-controller="Doctors" asp-route-id="@Model.Id" class="btn btn-raised btn-success btn-sm">@SharedLocalizer.GetLocalizedHtmlString("EditProfile")</a>
                <a  href="@Url.Action("Add","DoctorVacations",new {DoctorId=Model.Id })"   class="btn btn-raised btn-primary btn-sm">@SharedLocalizer.GetLocalizedHtmlString("AddVacation")</a>
            }

            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#mypost">@SharedLocalizer.GetLocalizedHtmlString("Languages") </a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#timeline">@SharedLocalizer.GetLocalizedHtmlString("EducationLevel")</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#usersettings">@SharedLocalizer.GetLocalizedHtmlString("Specialists")</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane in active" id="mypost">
                            <div class="body">
                                <h2 class="card-inside-title">@SharedLocalizer.GetLocalizedHtmlString("AddLanguages")</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <form asp-action="Add" asp-controller="DoctorLanguages">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            @Html.HiddenFor(x => x.Id)
                                            <div class="form-inline">
                                                <select asp-for="LanguageId" class="form-control" asp-items="ViewBag.LanguageId"><option>@SharedLocalizer.GetLocalizedHtmlString("AddLanguages")</option></select>
                                            </div>
                                            <center>
                                                <input type="submit" value="Add" class="btn btn-raised btn-success btn-sm" />
                                            </center>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <tr></tr>
                                    <tbody>
                                        @foreach (var item in ViewBag.language)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Language.EnglishName
                                                </td>
                                                <td>
                                                    <a style="color:red" asp-action="RemoveLanguage" asp-controller="Doctors" asp-route-id="@item.Id" title=@SharedLocalizer.GetLocalizedHtmlString("Delete") class="waves-cyan waves-circle zmdi zmdi-delete"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="timeline">
                            <div class="body">
                                <h2 class="card-inside-title">@SharedLocalizer.GetLocalizedHtmlString("AddEducationLevel")</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <form asp-action="Add" asp-controller="DoctorEducationLevels">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            @Html.HiddenFor(x => x.Id)
                                            <div class="form-inline">
                                                <select asp-for="EducationlevelId" class="form-control" asp-items="ViewBag.EducationlevelId"><option>@SharedLocalizer.GetLocalizedHtmlString("SelectEducation")</option></select>
                                            </div>
                                            <center>
                                                <input type="submit" value="Add" class="btn btn-raised btn-success btn-sm" />
                                            </center>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <tr></tr>
                                    <tbody>
                                        @foreach (var item in ViewBag.EducationLevel)
                                        {
                                            <tr>
                                                <td>
                                                    @item.EducationLevel.EnglishName
                                                </td>
                                                <td>
                                                    <a style="color:red" asp-action="RemoveEducationlevel" asp-route-id="@item.Id" title=@SharedLocalizer.GetLocalizedHtmlString("Delete") class="waves-cyan waves-circle zmdi zmdi-delete"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="usersettings">
                            <div class="body">
                                <h2 class="card-inside-title">@SharedLocalizer.GetLocalizedHtmlString("AddSpecialiest")</h2>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <form asp-action="Add" asp-controller="DoctorSpecialties">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            @Html.HiddenFor(x => x.Id)
                                            <div class="form-inline">
                                                <select asp-for="SpecialtyId" class="form-control" asp-items="ViewBag.SpecialtyId"><option>@SharedLocalizer.GetLocalizedHtmlString("SelectSpecialty")</option></select>
                                            </div>
                                            <center>
                                                <input type="submit" value="Add" class="btn btn-raised btn-success btn-sm" />
                                            </center>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <tbody>
                                        @foreach (var item in ViewBag.Speacialist)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Specialty.EnglishName
                                                </td>
                                                <td>
                                                    <a style="color:red" asp-action="Removespeaclist" asp-route-id="@item.Id" title=@SharedLocalizer.GetLocalizedHtmlString("Delete") class="waves-cyan waves-circle zmdi zmdi-delete"></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


