@model NajmetAlraqee.Site.ViewModels.DoctorViewModel
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("EditDoctor");
}

<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var fullPath = document.getElementById('ImagePathFile').value;

            var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
            var filename = fullPath.substring(startIndex);
            if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                filename = filename.substring(1);
            }
            var filename2 = filename.substring(0, filename.lastIndexOf('.'));
            ext = filename.substring(filename.indexOf('.') + 1);
            if (ext == 'jpg' || ext == "jpeg" || ext == "png" || ext == "GIF") {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#thumbnail').attr('style', "  display: block;");
                    $('#ImgAr3')
                        .attr('src', e.target.result);

                };
                reader.readAsDataURL(input.files[0]);
            } else {
                $('#thumbnail').attr('style', "  display: none;");

            }
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var fullPath = document.getElementById('CVPathFile').value;

            var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
            var filename = fullPath.substring(startIndex);
            if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                filename = filename.substring(1);
            }
            var filename2 = filename.substring(0, filename.lastIndexOf('.'));
            ext = filename.substring(filename.indexOf('.') + 1);
            if (ext == 'jpg' || ext == "jpeg" || ext == "png" || ext == "GIF") {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#thumbnail2').attr('style', "  display: block;");
                    $('#ImgAr2')
                        .attr('src', e.target.result);

                };
                reader.readAsDataURL(input.files[0]);
            } else {
                $('#thumbnail2').attr('style', "  display: none;");

            }
        }
    }
</script>

<div class="container-fluid">
    <div class="block-header">
        @*<h2>Edit Doctor</h2>*@
        <ol class="breadcrumb breadcrumb-col-cyan">
            <li><a href=@Url.Action("index","Doctors")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("Doctors")</a></li>
            <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("EditDoctor")</a></li>
        </ol>
    </div>


    <div class="row clearfix">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>@SharedLocalizer.GetLocalizedHtmlString("BasicInformation")</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">@SharedLocalizer.GetLocalizedHtmlString("Action")</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">@SharedLocalizer.GetLocalizedHtmlString("AnotherAction")</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">@SharedLocalizer.GetLocalizedHtmlString("SomethingElseHere")</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                                    <div class="form-line">
                                        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Gender")</label>
                                    <div class="form-line">
                                        <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("IdentityNo")</label>
                                    <div class="form-line">
                                        <input asp-for="IdentityNo" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("IdentityNo")" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("ArabicName")</label>
                                    <div class="form-line">
                                        <input asp-for="@Model.ArabicName" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("ArabicName")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("EnglishName")</label>
                                    <div class="form-line">
                                        <input asp-for="@Model.EnglishName" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("EnglishName")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Hospital")</label>
                                <div class="form-group drop-custum">
                                    <select asp-for="HospitalId" class="form-control" asp-items="ViewBag.HospitalId"></select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Nationality")</label>
                                    <div class="form-line">
                                        <select asp-for="NationalityId" class="form-control" asp-items="ViewBag.NationalityId"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("MobileNo")</label>
                                    <div class="form-line">
                                        <input asp-for="@Model.MobileNo" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("MobileNo") " />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("PhoneNo")</label>
                                    <div class="form-line">
                                        <input asp-for="@Model.PhoneNo" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("PhoneNo") " />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("EditDoctors")EnglishBio</label>
                                    <div class="form-line">
                                        <textarea asp-for="@Model.EnglishBio" rows="4" type="text" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("EditDoctors")EnglishBio"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("ArabicBio")</label>
                                    <div class="form-line">
                                        <textarea asp-for="@Model.ArabicBio" rows="4" type="text" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("ArabicBio") "></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("BirthDate")</label>
                                    <div class="form-line">
                                        <input asp-for="@Model.BirthDate" type="date" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("BirthDate")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Rate")</label>
                                    <div class="form-line">
                                        <input asp-for="@Model.Rate" type="number" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Rate")" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Experience")</label>
                                    <div class="form-line">
                                        <input asp-for="@Model.Experience" type="date" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Experience")" />
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("DoctorImage")</label>
                                <center>
                                    <div class="thumbnail" id="thumbnail" style="width: 80%; height: 210px; display: block;">
                                        <img id="ImgAr3" src="~/images/AttachedFile.png" style="width: 70%; height: 200px; display: block;" />
                                    </div>
                                    <br />
                                    <div class="form-line">
                                        <input type="file" asp-for="ImagePathFile" id="ImagePathFile" class="dropzone dz-clickable" placeholder="image" onchange="readURL(this);" accept=".doc,.docx,.pdf,.jpg,.jpeg,.png" />
                                    </div>
                                    <br />
                                    <span class="label bg-teal">@SharedLocalizer.GetLocalizedHtmlString("DoctorImage") </span>
                                </center>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("DoctorCV")</label>
                                <center>
                                    <div class="thumbnail " id="thumbnail2" style="width: 80%; height: 210px; display: block;">
                                        <img id="ImgAr2" src="~/images/AttachedFile.png" style="width: 70%; height: 200px; display: block;" />
                                    </div>
                                    <br />
                                    <div class="form-line">
                                        <input type="file" asp-for="CVPathFile" id="CVPathFile" placeholder="CV" class="dropzone dz-clickable" onchange="readURL2(this);" accept=".doc,.docx,.pdf,.jpg,.jpeg,.png" />
                                    </div>
                                    <br />
                                    <span class="label bg-teal">@SharedLocalizer.GetLocalizedHtmlString("DoctorCV") </span>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" value="Edit" class="btn btn-raised g-bg-cyan pull-right">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
                        <a asp-action="Index" class="btn btn-raised">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</a>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

