@model PaginatedList<NajmetAlraqee.Data.Entities.HospitalOffer>
@using NajmetAlraqee.Site.Services;
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
<div class="block-header">
    @*<h2>Hospital Offers</h2>*@
    <ol class="breadcrumb breadcrumb-col-cyan">
        <li><a href=@Url.Action("index","Home")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("Home")</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("HospitalOffers")</a></li>
    </ol>
    <div>
        @*<a class="btn btn-round pull-right bg-cyan waves-effect" onclick="location.href='@Url.Action("Add", "HospitalOffers")?id=' + @ViewBag.HospitalId">Add Offer</a>*@
    </div>

</div>

<div class="raw">
<div class="card">
    <div class="body">
        <form asp-action="Index">
            <div class="raw clearfix">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="form-line">
                            <input class="form-control" name="Search" placeholder=@SharedLocalizer.GetLocalizedHtmlString("Search") type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("FromDate")</label>
                        <div class="form-line">
                            <input name="FromDate" type="date"  class="form-control" placeholder=@SharedLocalizer.GetLocalizedHtmlString("FromDate") />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("ToDate")</label>
                        <div class="form-line">
                            <input name="ToDate" type="date"  class="form-control" placeholder=@SharedLocalizer.GetLocalizedHtmlString("ToDate") />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <button class="btn btn-raised btn-sm btn-success m-b-0 m-t-0" type="submit">@SharedLocalizer.GetLocalizedHtmlString("Search")</button>
            </div>
        </form>
    </div>
</div>
</div>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 col-xs-12">
            <div class="card patients-list">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("EnglishTitle"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("ArabicTitle"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Name"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("HappendOn"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("EndOn"))
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnglishTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ArabicTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hospital.EnglishName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HappendOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndOn)
                                    </td>
                                    <td>
                                        <a style="color:cadetblue" asp-action="Edit" asp-route-id="@item.Id" title=@SharedLocalizer.GetLocalizedHtmlString("Edit") class="waves-cyan waves-circle zmdi zmdi-edit"></a>
                                        <a asp-action="Details" asp-route-id="@item.Id" title=@SharedLocalizer.GetLocalizedHtmlString("Details") class="waves-cyan waves-circle zmdi zmdi-info"></a>
                                        <a style="color:red" asp-action="Delete" asp-route-id="@item.Id" title=@SharedLocalizer.GetLocalizedHtmlString("Delete") class="waves-cyan waves-circle zmdi zmdi-delete"></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    @SharedLocalizer.GetLocalizedHtmlString("Previous")
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    @SharedLocalizer.GetLocalizedHtmlString("Next")
</a>