@model NajmetAlraqee.Site.ViewModels.PatientAppointmentViewModel
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("AddAppointment");
}

<div class="container-fluid">
    <div class="block-header">
        @*<h2>Add Doctor</h2>*@
        <ol class="breadcrumb breadcrumb-col-cyan">
            <li><a href=@Url.Action("index","PatientAppointment")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("Appointment")</a></li>
            <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("AddAppointment")</a></li>
        </ol>
    </div>
    <form asp-action="Add" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>@SharedLocalizer.GetLocalizedHtmlString("BasicInformation")</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                            <ul class="dropdown-menu pull-right"></ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    @Html.HiddenFor(x => x.GenderId)
                    @*@Html.HiddenFor(x => x.GenderName)*@
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Patient") </label>
                                <div class="form-line">
                                    <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId" onchange="DropDownProductList()"><option></option></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Name")</label>
                                <div class="form-line">
                                    <input asp-for="FullName" class="form-control" readonly="readonly" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Name")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Gender") </label>
                                <div class="form-line">
                                    <input asp-for="GenderName" class="form-control" readonly="readonly" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Gender")" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Email") </label>
                                <div class="form-line">
                                    <input asp-for="Email" class="form-control" readonly="readonly" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Email")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Mobile") </label>
                                <div class="form-line">
                                    <input asp-for="Mobile" class="form-control" readonly="readonly" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Mobile")" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("ScheduleNo") </label>
                                <div class="form-line">
                                    <input asp-for="DoctorScheduleId" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("ScheduleNo")" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Notes")</label>
                                <div class="form-line">
                                    <textarea asp-for="Notes" rows="4" type="text" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Notes")"></textarea>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-sm-4">
                <div class="form-group">
                    <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("AppointmentOn") </label>
                    <div class="form-line">
                        <input asp-for="AppointmentOn" type="text"  readonly="readonly" class="form-control" placeholder="@SharedLocalizer.GetLocalizedHtmlString("AppointmentOn")" />
                    </div>
                </div>
            </div>*@
                    </div>
                </div>
                <div class="col-sm-12">
                    <button type="submit" value="Add" class="btn btn-raised g-bg-cyan pull-right">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
                    <a asp-action="Index" class="btn btn-raised">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</a>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" type="text/javascript"></script>
<script type="text/javascript">

    function DropDownProductList() {
        var DropDownSelectedValue = $('#PatientId').val();
        $.ajax({
            type: "POST",
            dataType: "JSON",
            cache: false,
            url: '@Url.Action("GetInfo", "PatientAppointment")',
            data: { Id: DropDownSelectedValue },
            success: function (data) {
                var Name = data.Name;
                var gender = data.GenderName
                var genderId = data.GenderId
                var email = data.email
                var mobile = data.mobile
                $("#FullName").val(Name).html(Name);
                $("#GenderId").val(genderId).html(genderId);
                $("#GenderName").val(gender).html(gender);
                $("#Email").val(email).html(email);
                $("#Mobile").val(mobile).html(mobile);
            }
        });
    }

</script>