@model PaginatedList<NajmetAlraqee.Data.Entities.PatientAppointment>
@using NajmetAlraqee.Site.Services;
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Appointment");
}



@*<br />*@
<div class="block-header">
    @*<h2>Doctors</h2>*@
    <ol class="breadcrumb breadcrumb-col-cyan">
        <li><a href=@Url.Action("index","Home")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("Home")</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("Appointment")</a></li>
    </ol>
    <div>
        <a class="btn btn-raised  bg-cyan waves-classic" asp-action="Add">@SharedLocalizer.GetLocalizedHtmlString("AddAppointment")</a>
    </div>

</div>

<div class="col-md-12">
    <div class="card">
        <div class="body">
            <form asp-action="Index">
                <div class="form-group m-t-0">
                    <div class="form-line">
                        <input class="form-control" id="SearchString" name="SearchString" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Search")..." type="text">
                    </div>
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-raised btn-sm btn-success m-b-0 m-t-0" type="submit">@SharedLocalizer.GetLocalizedHtmlString("Search")</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 col-xs-12">
            <div class="card patients-list">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Name"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Gender"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Mobile"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Email"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("ScheduleNo"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("AppointmentOn"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Status"))
                                    </th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Gender.EnglishName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mobile)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DoctorScheduleId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AppointmentOn)
                                        </td>
                                        <td>
                                            <span class="label label-success">
                                                @Html.DisplayFor(modelItem => item.AppointementStatus.EnglishName)
                                            </span>
                                        </td>
                                        @*<td>
                                                <a style="color:cadetblue" asp-action="Edit" asp-route-id="@item.Id" title="@SharedLocalizer.GetLocalizedHtmlString("Edit")" class="waves-cyan waves-circle zmdi zmdi-edit"></a>
                                                <a asp-action="Details" asp-route-id="@item.Id" title="@SharedLocalizer.GetLocalizedHtmlString("Details")" class="waves-cyan waves-circle zmdi zmdi-info"></a>
                                                <a style="color:red" asp-action="Delete" asp-route-id="@item.Id" title="@SharedLocalizer.GetLocalizedHtmlString("Delete")" class="waves-cyan waves-circle zmdi zmdi-delete"></a>
                                                <a href="@Url.Action("Add","DoctorScheduleConfigurations",new{ id=item.Id})" title="@SharedLocalizer.GetLocalizedHtmlString("Configuration")" class="waves-cyan waves-circle zmdi zmdi-settings-square"></a>
                                                <a style="color:red" href="@Url.Action("Add","DoctorVacations",new{ DoctorId=item.Id})" title="@SharedLocalizer.GetLocalizedHtmlString("Vacation")" class="waves-cyan waves-circle zmdi zmdi-refresh-sync-alert"></a>
                                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    @SharedLocalizer.GetLocalizedHtmlString("Previous")
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    @SharedLocalizer.GetLocalizedHtmlString("Next")
</a>