@model NajmetAlraqee.Site.ViewModels.ForeignAgencyJobViewModel
@using NajmetAlraqee.Site.Services;
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("ForeignAgencyJobs");
}

<div class="block-header">
    <ol class="breadcrumb breadcrumb-col-cyan">
        <li><a href=@Url.Action("index","Home")><i class="material-icons">home</i>@SharedLocalizer.GetLocalizedHtmlString("Home") </a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">library_books</i> @SharedLocalizer.GetLocalizedHtmlString("ForeignAgencyJobs")</a></li>
    </ol>
</div>

<div class="container-fluid">
    <div class="row clearfix" style="font-family:Droid Arabic Kufi">
        <div class="col-md-12 col-xs-12">
            <div class="card patients-list">
                <div class="body">
                    <h2 class="card-inside-title" style="font-family:Droid Arabic Kufi">@SharedLocalizer.GetLocalizedHtmlString("ForeignAgencyJobs")</h2>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <form asp-action="Add" method="post" asp-controller="ForeignAgencyJob">
                                @Html.HiddenFor(x => x.Id)
                                @Html.HiddenFor(x => x.ForeignAgencyId)
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Nationality") </label>
                                            <div class="form-line">
                                                <select asp-for="@Model.NationalityId" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.NationalityId"><option>@SharedLocalizer.GetLocalizedHtmlString("Nationality")</option></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("JobType") </label>
                                            <div class="form-line">
                                                <select asp-for="@Model.JobTypeId" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.JobTypeId"><option>@SharedLocalizer.GetLocalizedHtmlString("JobType")</option></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Currency") </label>
                                            <div class="form-line">
                                                <select asp-for="@Model.CurrencyId" class="form-control" style="font-family:Droid Arabic Kufi" asp-items="ViewBag.CurrencyId"><option>@SharedLocalizer.GetLocalizedHtmlString("Currency")</option></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Price") </label>
                                            <div class="form-line">
                                                <input asp-for="@Model.Price" class="form-control" style="font-family:Droid Arabic Kufi" placeholder="@SharedLocalizer.GetLocalizedHtmlString("Price")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <center>
                                    <input type="submit" style="font-family:Droid Arabic Kufi;" value="@SharedLocalizer.GetLocalizedHtmlString("Save")" class="btn btn-raised bg-teal btn-sm" />
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 col-xs-12">
            <div class="card patients-list">
                <div class="body">
                    <h2 class="card-inside-title" style="font-family:Droid Arabic Kufi">@SharedLocalizer.GetLocalizedHtmlString("ForeignAgencyJobs")</h2>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Code"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Nationality"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("JobType"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Price"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Currency"))
                                    </th>
                                    <th>
                                        @Html.DisplayName(SharedLocalizer.GetLocalizedHtmlString("Status"))
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Agency != null)
                                {
                                    @foreach (var item in ViewBag.Agency)
                                    {
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Nationality.Name
                                    </td>
                                    <td>
                                        @item.JobType.Name
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                    <td>
                                        @item.Currency.Name
                                    </td>
                                    <td>
                                        @if (item.IsActive)
                                        {<span class="label label-success">@SharedLocalizer.GetLocalizedHtmlString("Active")</span> }
                                    else
                                    {<span class="label label-warning">@SharedLocalizer.GetLocalizedHtmlString("InActive")</span>}
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-raised bg-teal btn-sm"><i class="material-icons" title="@SharedLocalizer.GetLocalizedHtmlString("Edit")">create</i></a>
                                        @if (item.IsActive)
                                        {
                                            <a asp-action="DisActivated" asp-controller="ForeignAgencyJob" asp-route-id="@item.Id" title="@SharedLocalizer.GetLocalizedHtmlString("DisActivated")" class="btn btn-raised btn-danger btn-sm zmdi zmdi-power"></a>
                                        }
                                        else
                                        {
                                            <a asp-action="Activated" asp-controller="ForeignAgencyJob" asp-route-id="@item.Id" title="@SharedLocalizer.GetLocalizedHtmlString("Activated")" class="btn btn-raised btn-success btn-sm zmdi zmdi-power"></a>
                                        }
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12">
                    <a asp-action="Details" asp-controller="ForeginAgencies" asp-route-id="@Model.ForeignAgencyId" class="btn btn-raised" style="font-family:Droid Arabic Kufi;right:500px">@SharedLocalizer.GetLocalizedHtmlString("Close")</a>
                </div>
            </div>
        </div>
    </div>

</div>

