@model NajmetAlraqeeSite.ViewModels.DoctorVacationViewModel
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("AddVacation");
}

<div class="container-fluid">
    <div class="block-header">
        @*<h2>Add Vacation</h2>*@
        <ol class="breadcrumb breadcrumb-col-cyan">
            <li><a href=@Url.Action("index","DoctorVacations")><i class="material-icons"></i>@SharedLocalizer.GetLocalizedHtmlString("DoctorVactions") </a></li>
            <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("AddVacation") </a></li>
        </ol>
    </div>

    <form asp-action="Add" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    @*<h2>Basic Vacation Information</h2>*@
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">@SharedLocalizer.GetLocalizedHtmlString("Action")</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">@SharedLocalizer.GetLocalizedHtmlString("AnotherAction")</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">@SharedLocalizer.GetLocalizedHtmlString("SomethingElseHere")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    @Html.HiddenFor(x => x.VacationStatusId)
                    @Html.HiddenFor(x => x.DoctorId)
                    @Html.HiddenFor(x => x.HospitalId)
                    @Html.HiddenFor(x => x.HospitalName)
                    @Html.HiddenFor(x => x.CreatedOn)
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("Hospital")</label>
                                <div class="form-line">
                                    @*<select asp-for="HospitalId" class="form-control" asp-items="ViewBag.HospitalId">Please Select Hospital</select>*@
                                    <input asp-for="HospitalName" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("VacationType")</label>
                                <div class="form-line">
                                    <select asp-for="VacationTypeId" class="form-control" asp-items="ViewBag.VacationTypeId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("StartingOn")</label>
                                <div class="form-line">
                                    <input asp-for="StartingOn" type="date" class="form-control" placeholder=@SharedLocalizer.GetLocalizedHtmlString("StartingOn") />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label style="color:black">@SharedLocalizer.GetLocalizedHtmlString("EndingOn")</label>
                                <div class="form-line">
                                    <input asp-for="EndingOn" type="date" class="form-control" placeholder=@SharedLocalizer.GetLocalizedHtmlString("EndingOn") />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-sm-12">
                    <button type="submit" value="Add" class="btn btn-raised g-bg-cyan pull-right">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
                    <a asp-action="Index" class="btn btn-raised">@SharedLocalizer.GetLocalizedHtmlString("Cancel")</a>
                </div>
            </div>
        </div>

    </form>

</div>
